@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

:root {
    --color-black: #111111;

}
* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    font-family: Roboto, sans-serif;
}
.logo img{
    width: 90px;
    height: 27px;
    padding-top: 28px;
    color: var(--color-black);
}   

.logo a{
    size: 42px  19px;
    font-family: 'Roboto-Regular';
    color: var(--color-black);
    text-decoration: none;
    margin-left: 19px;
    padding-left: 28px;
}

.content-top {
    background: #FBDFDB;
    width: 940px;
    height: 366px;
    margin-left: 23px;
    margin-top: 20px;
    border-radius: 30px;
}
/* 
.content-top{
    position: relative;
} */

.content-top h1{
    font-family: Roboto-Bold;
    font-size: 32px;
    padding-top: 30px;
    padding-left: 30px;
    color: var(--color-black);
    position: relative;
}

.content-top p{
    opacity: 0.7;
    font-family: Roboto-Regular;
    font-size: 17px;
    color: #000000;
    line-height: 28px;
    width: 300pt;
    height: 65pt;
    margin-left: 30px;
    text-align: justify;
    margin-top: 30px;

}

.content-top img{
    left: 427pt;
    top: 79.5pt;
    padding: 30pt ;
    position: absolute;

}

h4{
    font-family: Roboto-Bold;
    font-size: 18px;
    color: var(--color-black);
    padding: 28px 28px;
}
#cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card img{
    width: 280px;
    height: 140px;
    margin-left: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    cursor: pointer;
    border-radius: 15px;
}

.card 